<div class="container">
  <footer class="footer"> 
    <small>
      Copyright &copy; <a href="http://www.wearesuperawesome.net">Super Awesome</a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to "About", about_path %>  </li>
      </ul>
    </nav>
  </footer>
</div>